@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f7f8fc;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Gap between each cell from horizozntally and veritically.*/
    width: 940px;
    margin: auto; /* Make things to always center */
}

.card {
    background-color: #fff;
    border-radius: 10px;

    /* 0.1 is too subtle, you can change it to 0.9 to check what box shadow looks like
       2nd value is whether the light source is from above (positive number) or below (negative number)
       3rd value is how blurry the shadow is, the higher the value the more blurry.
    */
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);

    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%; /* this will suddenly make 3 columns contains within the page width */
    height: 200px;
    object-fit: cover; /* It's like background size for background images */
}
